body {
	font-family: Consolas;
	margin: 0;
	padding: 0;
	padding-top: 60px;
	}

a {
        color: #646464;
        }

.topnav {
	background-color: #646464;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	}

.topnav a {
	float: left;
	color: white;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	}

.topnav a:hover {
        background-color: #D0D0D0;
        color: #646464;
        }

.topnav a.active {
        background-color: #D0D0D0;
        color: #646464;
        }

.panelContainer {
	display: flex;
	margin: auto;
	}

.leftPanel {
	float: left;	
	background-color: #646464;
	}

.rightPanel {
	display: flex;
	margin: auto;	
	margin-right: 0px;
	background-color: #646464;
	}
