    <div style="width:95%;margin:auto">
        <h3>2025</h3>

        <p>things I'd like to achieve:
            <ul>
                <li>run a first full marathon/ultramarathon</li>
                <li>perform at an open mic night</li>
                <li>travel to at least 2 new countries</li>
            </ul>
        </p>
    </div>
