    <div style="width:95%;margin:auto">
        <h3>50 parkruns</h3>

        <p>Completed at West Coast Park Parkrun number <a href="https://www.parkrun.sg/westcoastpark/results/265" target="_blank" rel="noopener noreferrer">265</a>. Thanks to all to the volunteers on the day.</p>

        <a href="/blog/images/parkrun50.jpeg" target="_blank" rel="noopener noreferrer"><img src="/blog/images/parkrun50.jpeg" height=600 width=450></a>
    </div>
