    <div style="width:95%;margin:auto">
        <h3>first parkrun win</br>
        <a href="/blog/sport" style="font-size:12px;background-color: #E0E0E0;text-decoration: none">&nbspsport&nbsp</a></h3>

        <p>If you know me, you'll know I'm a huge fan of <a href="https://www.parkrun.com" target="_blank" rel="noopener noreferrer"> parkrun</a> (if you'd like to see my full set of results, I've linked to my parkrunner profile in the navigation bar of this site). Most weekends, I'll attend the <a href="https://www.parkrun.sg/westcoastpark" target="_blank" rel="noopener noreferrer">West Coast Park</a> event here in Singapore, with occasional visits to the <a href="https://www.parkrun.sg/eastcoastpark" target="_blank" rel="noopener noreferrer">East Coast Park</a> and <a href="https://www.parkrun.sg/bishan" target="_blank" rel="noopener noreferrer">Bishan</a> events. The course at West Coast is a flat elongated figure of 8 around the main path of the park, which is paved all the way around. Crowd sizes typically vary from 60 to 100 people, but the park itself is never too busy to get in the way of the parkrunners or vice versa.
        </p>

        <p>Anyway, all of this is to say that I took my first parkrun win today. The official results of the event are <a href="https://www.parkrun.sg/westcoastpark/results/235" target="_blank" rel="noopener noreferrer">here</a>, showing my time as 20:49, a new overall personal best. I was fortunate with the crowd, a few regulars who are faster than me weren't in attendance, and there were people there who have run the course faster than what I did. But you can only beat what's in front of you on the day.
        </p>

        <p>The list of all first place finishers in West Coast Park is available <a href="https://www.parkrun.sg/westcoastpark/results/firstfinishescount" target="_blank" rel="noopener noreferrer">here</a>. I'm towards the slower end of the mens winners, usually first place is sub 19 or 20 minutes. The new PB also put me into the list of the <a href="https://www.parkrun.sg/westcoastpark/results/fastest500" target="_blank" rel="noopener noreferrer">fastest 500</a> to ever complete West Coast Park parkrun. I currently sit in 451st place.
        </p>

        <p>As always, a big thanks to all of the volunteers on the day, and in general for making parkrun happen every week.
        </p>
    </div>
