    <div style="width:95%;margin:auto">
        <h3>hp pavilion ssd updgrade</h3>

        <p>I <a href='/blog/asus-vivobook-x1404za target="_blank" rel="noopener noreferrer">recently</p> purchased a new laptop to replace my old HP Pavilion, it had been on the go for 10+ years. For the most part, it is still in working order, but just quite slow and the screen is badly damaged. The original drive was HDD SATA I, and reading online, an upgrade to an SSD could majorly benefit the the performance. Installing a lightweight linux distribution on it aftwords would mean I could run it headless, which would solve both major problems.</p>

    </div>
