    <div style="width:95%;margin:auto">
        <h3>maps</br>
        <a href="/blog/links" style="font-size:12px;background-color: #E0E0E0;text-decoration: none">&nbsplinks&nbsp</a></h3>

        <p>A collection of interesting maps from around the internet. Inspired by <a href="https://news.ycombinator.com/item?id=37197903" target="_blank" rel="noopener noreferrer">Hacker News</a>.
            <ul>
                <li><a href="https://www.submarinecablemap.com" target="_blank" rel="noopener noreferrer">Submarine Cable Map</a></li>
                <li><a href="https://www.windy.com" target="_blank" rel="noopener noreferrer">Windy.com</a></li>
                <li><a href="https://app.electricitymaps.com/map" target="_blank" rel="noopener noreferrer">Electricity Maps</a></li>
                <li><a href="https://www.flightradar24.com" target="_blank" rel="noopener noreferrer">Flight Radar 24</a></li>
                <li><a href="https://openinframap.org" target="_blank" rel="noopener noreferrer">Open Infra Map</a></li>
                <li><a href="https://www.openrailwaymap.org" target="_blank" rel="noopener noreferrer">Open Railway Map</a></li>
                <li><a href="https://www.lightpollutionmap.info" target="_blank" rel="noopener noreferrer">Light Pollution</a></li>
                <li><a href="https://www.marinetraffic.com" target="_blank" rel="noopener noreferrer">Marine Traffic</a></li>
                <li><a href="http://astria.tacc.utexas.edu/AstriaGraph" target="_blank" rel="noopener noreferrer">Satellites and space debris</a></li>
            </ul>
        </p>
    </div>
