<!DOCTYPE html>
<html lang="en">

<head>
    <title>TITLE_TEMPLATE | cillianreilly.com</title>
    <link rel="shortcut icon" href="/images/favicon.ico?v=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            }
    </style>
</head>

<body>
    <pre>
BODY_TEMPLATE
    </pre>
</body>
</html>
