<!DOCTYPE html>
<html lang="en">

<head>
    <title>TITLE_TEMPLATE | cillianreilly.com</title>
    <link rel="shortcut icon" href="/images/favicon.ico?v=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="alternate" type="application/atom+xml" href="/rss.xml" title="cillianreilly.com">
    <link rel="alternate" type="application/atom+xml" href="/rss.kdb.xml" title="cillianreilly.com | kdb+">
    <script src="https://kit.fontawesome.com/d5b933f0ba.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="topnav">
        <div class="panelContainer">
            <div class="leftPanel">
                <a href="/" style="min-height: 100%">home</a>
                <a href="/about" style="min-height: 100%">about</a>
                <a href="/blog" style="min-height: 100%">blog</a>
                <a href="/books" style="min-height: 100%">books</a>
                <a href="/projects" style="min-height: 100%">projects</a>
                <a href="/travel" style="min-height: 100%">travel</a>
            </div>
            <div class ="rightPanel">
                <a href="mailto:cillianreilly@cillianreilly.com">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="https://github.com/cillianreilly" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://stackoverflow.com/users/12838568/cillianreilly" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-stack-overflow"></i>
                </a>
                <a href="https://linkedin.com/in/cillianreilly" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://www.parkrun.ie/parkrunner/6298050" target="_blank" rel="noopener noreferrer">
                    <i class="fa-solid fa-person-running"></i>
                </a>
                <a href="https://utmb.world/en/runner/6674994.cillian.reilly" target="_blank" rel="noopener noreferrer">
                    <img src="images/utmb.png" style="box-shadow:none" height="18" width="18"></img>
                </a>
                <a href="https://www.chess.com/member/cillianreilly" target="_blank" rel="noopener noreferrer">
                    <i class="fa-regular fa-chess-king"></i>
                </a>
                <a href="/rss.xml" target="_blank" rel="noopener noreferrer">
                    <i class="fa-sharp fa-solid fa-rss"></i>
                </a>
            </div>
        </div>
    </div>

BODY_TEMPLATE

</body>
</html>
