    <div style="text-align:center;color: #646464;transform: translateY(16vh)">
        <h3 style="color: #646464"><a href="/projects/paradise">paradise</a></h3>
        <p>automated personal assisstant</p>

    </div>
