    <div style="text-align:center;color: #646464;transform: translateY(16vh)">
        <h3 style="color: #646464"><a href="https://code.kx.com/q/wp/hdb-analysis/" target="_blank" rel="noopener noreferrer" >hdb analysis and maintenance</a></h3>
        <p>kx white paper describing best practice hdb analysis and maintenance</p>
    </div>
